---
import type { isRenderTemplateResult } from "astro/dist/runtime/server/render/astro";

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ReactLightbox from '../components/ReactLightbox.jsx';
import data from '../../public/data/projets.json';
---

<Layout title="Projets - Yaëlle Zaoui">
	<Navbar page="design" />
	<section>
		<div class="container is-fluid">
			<h1 class="title reveal-1">Projets</h1>
			<div class="project-container">
				{data.map((item, index) => (
					// @ts-ignore
					<div class="project-item" key={index}>
						<a href={item.slug} class="project-list-parent">
							<div class="project-list-top">
								<div class="project-list-img-parent" style={`background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(${item.thumbnail})`}>
									<div class="project-tag">
										<p>{item.type}</p>
									</div>
								</div>
							</div>
							<div class="project-list-btm">
								<p>Project</p>
								<p>{item.name}</p>
							</div>
						</a>
					</div>
				))}
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	section {
		background-color: white;
		padding-top: 100px;
		min-height: 100vh;
		overflow: hidden;
		padding-bottom: 20px;

		h1 {
			color: #045E51 !important;
			font-size: 3rem !important;
			font-family: 'PF Din Text Universal thin';
			margin-bottom: 80px !important;
			letter-spacing: 2px;
			text-align: center;
		}

		p {
			font-family: 'PF Din Text Universal light';
			// margin-bottom: 10px;
		}
	}

	.project-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 16px;
		grid-row-gap: 16px;
	}

	.project-item {
		// width: calc(100% - 33.33%);
		border-radius: 12px;
		border: solid 1px black;
		overflow: hidden;
		padding: 0.625rem;
		position: relative;
	}

	.project-list-parent {
		color: #045E51 !important;
	}

	.project-list-img-parent {
		height: 200px;
		width: 100%;
		// background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
		background-position: center;
		background-size: 150% 150%;
		background-repeat: no-repeat;
		border-radius: 12px;
		transition: background-size 0.3s ease-in-out;

		&:hover {
			background-size: 100% 100%;
		}
	}

	.project-tag {
		position: absolute;
		// z-index: 1;
		top: 20px;
		right: 20px;
		color: #D7FFD0;
		background-color: #045E51;
		padding: 3px 20px;
		border: 1px solid #045E51;
		border-radius: 20px;
	}

	// .columns {
	// 	margin-top: 10px;
	// }

	// .column {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	align-items: center;
	// }

	@media screen and (max-width: 768px) {
		.project-container {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 426px) {
		.project-container {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
		}
	}
</style>